@media screen and (max-width: 899px) {

    /*.container .text-box,
	.simple-install .text-box
	 {
		margin-left: auto;
		margin-right: auto;  

	}*/



    .container-install .text-box,
    .container .simple-install .text-box,
    .container .code-install .text-box,
    .container .install-application .text-box,
    .container .install-after .text-box,
    .container .mail-forms .text-box {
        margin-left: auto;
        margin-right: auto;
        padding: 63px 20px 0px 20px;

    }

    .text {
        /* width: 90%; */
    }

    .footer {
        flex-direction: column-reverse;
        text-align: center;
        padding-left: 0;

    }

    .number-phones span,
    .number-phones p,
    .number-phones img,
    .number-phones figure,
    .number-phones a {
        display: none;
    }

    .contacts {
        text-align: center;
    }


}

@media screen and (max-width: 655px) {



    .buttons {
        display: flex;
        flex-direction: column;
        align-items: left;
    }


    .buttons .test {
        /* font-size: 16px; */
        padding: 14px 25px;

    }

    .buttons .price {}




    .buttons a {
        margin-bottom: 15px;
    }


    /*.container-install .text-box {
		margin-left: 10px;
		margin-right: 10px;  
	}*/







}