html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
 
}

.nav ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}
.nav a {text-decoration: none; /*убираем подчеркивание текста ссылок*/}

.header {
  width: 100%;
  height: 60px;
  max-width: 1640px;
  
  margin-left: auto;  
  margin-right: auto;
  
}
/* меню */

.mob-m {
  display: none;
}

.menu-container {
  width: 25%;
  height: 100%;
  float: left;
}

.menu-container2 {
  width: 50%;
  height: 100%;
  float: right;
}
.nav {
  margin: 20px 0;
}
.nav ul {
  margin: 0;
  padding: 0;
}
.nav li {
  margin: 0 0px 10px 15px;
  padding-left:  0;
  list-style: none;
  display: inline-block;
  *display:inline; /* ie7 */
}
.nav a {
  padding: 3px 12px;
  text-decoration: none;
  color: #2E4676;
  line-height: 100%;
}
.nav a:hover {
  color: #000;
}
.nav1 ul {
  padding-left: 15%;

}
.nav2 {
  margin: 20px 0;
}

.nav2 ul {
  margin: 0;
  padding: 0;
}

.nav2 li {
  margin: 0 0px 10px 15px;
  padding-left:  0;
  list-style: none;
  display: inline-block;
  *display:inline; /* ie7 */
}

.nav2 a {
  padding: 3px 12px;
  text-decoration: none;
  color: #2E4676;
  line-height: 100%;
}

.nav2 a:hover {
  color: #000;
}



.container {
  width: 100%;
  max-width: 1640px;
  margin-left: auto;
  margin-right: auto;
}
/* секция 1 */

.section1 {
  min-height: 40vh; 
  background-color: #EEF4F4;
  border: 1px solid #EEF4F4;
}

.promo {
  max-width: 50%;
  min-height: 16.6666667%;
  margin-left: 15%;
  margin-top: 5%;
  margin-right: auto;
  color: #7C7D83FF;
}
@media screen and (max-width: 960px) {
  .promo {
    margin-left: 10%;
  }
}

.promo1 {
  max-width: 70%; 
}
 /* Кнопки */
 .button {
  width: 240px;
  height: 40px;
  border-radius: 20px;
  font-size: 1.6em;
  font-weight: bold;
  border: 0;
  margin-right: 10px;
  margin-bottom: 10px;  
 }
.button1 {
  background-color: #00D4B8FF;
  color: #FFFFFFFF;
}

.button2 {
  color: #353D6DFF;
  background-color: Transparent;
  border: 1px solid #4B527DFF;
}
/* Мобильное меню */
@media screen and (max-width: 960px) {
  .mob-m {
    position: relative;
    min-height: 40px;
    display: block;
  } 
  .mob-m ul {
    width: 48px;
    height: 48px;
    padding: 5px 0;
    position: absolute;
    top: -15px;
    left: 10px;
    border: solid 1px #aaa;
    background: #FAFAFA url(\icon-menu.png) no-repeat ;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
  }
  .mob-m li , .nav2 li, .nav li{
    display: none; /* скрыть все <li> пункты */
    margin: 0;
  }
  .mob-m  {
    display: block; /* показывать только текущие активные <li> пункты */
  }
  .mob-m a {
    display: block;
    padding: 5px 5px 5px 32px;
    text-align: left;
  }
  
 
  /* при наведении на пункты меню */
  .mob-m ul:hover {
    width: auto;
    height: auto;
    background-image: none;
  }
  .mob-m ul:hover li {
    display: block;
    margin: 0 0 5px;
  }
  
 
  /* адаптивное меню справа */
  .mob-m.right ul {
    left: auto;
    right: 0;
  }
 
  /* адаптивное меню по центру */
  .mob-m.center ul {
    left: 50%;
    margin-left: -90px;
  }
 
}
/* Кнопки  мобильные*/
@media screen and (max-width: 760px) {

  .button {
    min-width: 80%;
    height: 40px;
    border-radius: 20px; 
    font-weight: bold;
    border: 0;
    font-size: 1.6em;
  }
  .button1{
  background-color: #00D4B8FF;
  color: #FFFFFFFF;
  margin-bottom: 10px; 
  }

  .button2 {
  color: #353D6DFF;
  border: 1px solid #4B527DFF;
  }
  
  .promo1 {
  min-width: 80%;
  min-height: 16.6666667%;
  margin-left: 10%;
  margin-top: 8%;
  margin-right: auto;
  color: #7C7D83FF;
  } 
}

/* секция 2 */
/* секция 2 */
/* секция 2 */
.section2 {
  min-height: 40vh;
  
}


.numbers img {
  width: 80px;
  height: 80px;
}

.numbers {
  width: 35%;
  min-height: 80px;
  margin-top: 10%;
  font-size: 1.5em;
  float: left;
}

.number1 {
  margin-right: 15%; 
}

@media screen and (max-width: 600px) {
  .promo2 {
    min-width: 80%;
  }
}

/* секция 3 */
/* секция 3 */
/* секция 3 */

.section3 {
  min-height: 60vh;
  border: 1px solid #EEF4F4;
  background-color: #EEF4F4;
}

.promo3 {
  min-width: 80%;
}

@media screen and (max-width: 1080px) {
  .promo3 {
    min-width: 85%;

  }
}


.section4 {
  min-height: 50vh;
  background-color: ;
}

@media screen and (max-width: 1080px) {
  .promo4 {
    min-width: 85%;
  }
}
/* секция 5 */
/* секция 5 */
/* секция 5 */

.section5 {
  /*min-height: 60vh;*/
  border: 1px solid #EEF4F4;
  background-color: #EEF4F4;
}

.promo5 {
  min-width: 90%;
}


.steps-list {
  padding: 0;

}

.steps-list  li {
  list-style: none;
  padding: 18px 0px 18px 80px;
  margin-bottom: 15px; 
  max-height: 55px;
}

#s1 {
  background: url(icons/step_01.svg)   no-repeat;
}

#s2 {
  background: url(icons/step_02.svg)   no-repeat;
}

#s3 {
  background: url(icons/step_03.svg)   no-repeat;
}

#s4 {
  background: url(icons/step_04.svg)   no-repeat;
}

#s5 {
  background: url(icons/step_05.svg)   no-repeat;
}

#s6 {
  background: url(icons/step_06.svg)   no-repeat;
}

.button3 {
  background-color: #00D4B8FF;
  color: #FFFFFFFF;
}

.button4 {
  color: #FFFFFFFF;
  background-color: #35406BFF;
}

/* секция 6 */
/* секция 6 */
/* секция 6 */

.promo6 {
  margin-top: 2%;
  max-width: 70%;
}
.mail-menu {
  padding: 0;
}

.mail-menu li {
  display: inline-block;
  list-style: none;
  padding: 18px 0px 18px 55px;
  margin-bottom: 20px; 
  max-height: 55px;
  margin-left: 20px;
  width: 290px;
}

#m1 {
  background: url(icons/sn.svg)   no-repeat;
}

#m2 {
  background: url(icons/msn.svg)   no-repeat;
}

#m3 {
  background: url(icons/chatbots.svg)   no-repeat;
}

#m4 {
  background: url(icons/feedback.svg)   no-repeat;
}

#m5 {
  background: url(icons/yad.svg)   no-repeat;
}

#m6 {
  background: url(icons/app.svg)   no-repeat;
}

#m7 {
  background: url(icons/email.svg)   no-repeat;
}


footer {
  width: 100%;
  max-width: 1640px;
  background-color: #343C6DFF;
  margin:auto;  
}

.footer li {
  list-style: none;
  padding-bottom: 5px;
 }

 .footer p {
  padding: 1px;
 }

.rights-reserved {
  min-width: 25%;
  min-height: 10%;
  float: left;
  padding-left: 5%;
  color: #AFB4C7FF;
}

.phones {
  width: 45%;
  min-height: 10%;
  float: left;
}

.contacts {
  width: 30%;
  min-height: 10%;
  float: right;
  text-align: right;
  padding-right: 5%;

}

@media screen and (max-width: 800px) {
  .contacts {
    display: none;
  }

  .phones {
    display: none;
  }
}
button:hover {
  outline: none;
  background-color: #27C2C0FF;
  border: none;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

<script>
document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
</script>



